// breakpoints

$laptop: 992px;
$tablets: 768px;
$phones: 480px;


// media

@import "./layout/media.scss";

// layout

@import "./layout/mixins.scss";
@import "./layout/normalize.scss";
@import "./layout/fonts.scss";
@import "./layout/layout.scss";

// blocks

@import "./blocks/logo.scss";
@import "./blocks/title.scss";
@import "./blocks/wheel.scss";
@import "./blocks/decor.scss";
@import "./blocks/popup.scss";
@import "./blocks/button.scss";